[build]
  command = "corepack enable && pnpm install -w --frozen-lockfile && pnpm -C apps/web install --frozen-lockfile && pnpm -C apps/web build && node scripts/postbuild.mjs"
  publish = "apps/web/.netlify/publish"
  ignore = "sh -c '[ \"$BRANCH\" != \"main\" ]'"

[build.environment]
  NITRO_PRESET = "netlify"
  NITRO_LOG_LEVEL = "debug"
  PNPM_FLAGS = "--shamefully-hoist"
  NODE_VERSION = "20"

[[redirects]]
  from = "/api/trpc/*"
  to = "/.netlify/functions/server/api/trpc/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/trpc"
  to = "/.netlify/functions/server/api/trpc"
  status = 200
  force = true

[[redirects]]
  from = "/trpc/*"
  to = "/.netlify/functions/server/trpc/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/trpc"
  to = "/.netlify/functions/server/trpc"
  status = 200
  force = true
 

