[build]
  command = "corepack enable && pnpm install -w --frozen-lockfile && pnpm -C apps/web install --frozen-lockfile && pnpm -C apps/web build"
  publish = "apps/web/.netlify/publish"

[build.environment]
  NITRO_PRESET = "netlify"
  NODE_VERSION = "20"


