[build]
  command = "corepack enable && pnpm install -w --no-frozen-lockfile && pnpm -C apps/web install --no-frozen-lockfile && pnpm -C apps/web build && node scripts/postbuild.mjs"
  publish = "apps/web/.netlify/publish"
  ignore = "sh -c '[ \"$BRANCH\" != \"main\" ]'"

[build.environment]
  NITRO_PRESET = "netlify"
  NITRO_LOG_LEVEL = "debug"
  PNPM_FLAGS = "--shamefully-hoist --no-frozen-lockfile"
  NODE_VERSION = "20"

[functions]
  directory = "apps/web/.netlify/functions-internal"

[[redirects]]
  from = "/api/trpc/*"
  to = "/.netlify/functions/server/api/trpc/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/trpc"
  to = "/.netlify/functions/server/api/trpc"
  status = 200
  force = true

[[redirects]]
  from = "/trpc/*"
  to = "/.netlify/functions/server/trpc/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/trpc"
  to = "/.netlify/functions/server/trpc"
  status = 200
  force = true

 
[[headers]]
  for = "/"
  [headers.values]
    cache-control = "public, max-age=0, must-revalidate"

[[headers]]
  for = "/auth/*"
  [headers.values]
    cache-control = "public, max-age=0, must-revalidate"

[[redirects]]
  from = "/api/trpc/auth.loginWithPassword"
  to = "/.netlify/functions/server/api/auth/login-with-password"
  status = 200
  force = true

[[redirects]]
  from = "/api/trpc/auth.loginWithPassword/*"
  to = "/.netlify/functions/server/api/auth/login-with-password"
  status = 200
  force = true
 
[[redirects]]
  from = "/"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[[redirects]]
  from = "/auth/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[[redirects]]
  from = "/trpc/auth.loginWithPassword"
  to = "/.netlify/functions/server/api/auth/login-with-password"
  status = 200
  force = true

[[redirects]]
  from = "/trpc/auth.loginWithPassword/*"
  to = "/.netlify/functions/server/api/auth/login-with-password"
  status = 200
  force = true

[[redirects]]
  from = "/api/auth/*"
  to = "/.netlify/functions/server/api/auth/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/auth"
  to = "/.netlify/functions/server/api/auth"
  status = 200
  force = true

