[build]
  command = "corepack enable && pnpm install -w --frozen-lockfile && pnpm -C apps/web install --frozen-lockfile && pnpm -C apps/web build && mkdir -p apps/web/.netlify/publish && ls -R apps/web/.netlify || true"
  publish = "apps/web/.netlify/publish"
  ignore = "sh -c '[ \"$BRANCH\" != \"main\" ]'"

[build.environment]
  NITRO_PRESET = "netlify"
  NITRO_LOG_LEVEL = "debug"
  PNPM_FLAGS = "--shamefully-hoist"
  NODE_VERSION = "20"

